@gems-web:registry=https://gitlab.com/api/v4/packages/npm/

# # Utils
# //gitlab.com/api/v4/projects/43870700/packages/npm/:_authToken=3FBu7cKUcEEyAguWwjiD

# # Components
# //gitlab.com/api/v4/projects/43901844/packages/npm/:_authToken=jLnQmPLmaukFStsH47ox

//gitlab.com/api/v4/packages/npm/:_authToken=glpat-wCR5QnQoF6KBLtCtsiMz