.bn_ol {
  list-style-type: bengali;
}

.remove-padding {
  padding: 0 !important;
}

.text-underline-color-yellow {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 2px;
}

.text-underline-color-black {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

.text-line-through-color-red {
  text-decoration: line-through;
  text-decoration-color: red;
}
