// Activities card design override

.activities-log {
	.timeline-label .timeline-label {
		width: 130px !important;
		@media (max-width: 767px) {
			width: 64px !important;
		}
	}

	.timeline-label:before {
		left: 130px !important;
		@media (max-width: 767px) {
			left: 65px !important;
		}
	}

	.timeline-label {
		.timeline-activity-badge {
			flex-shrink: 0;
			background-color: var(--kt-body-bg);
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			position: relative;
			margin-top: 1px;
			margin-left: -0.5rem;
			padding: 3px !important;
			border: 6px solid var(--kt-body-bg) !important;

			span {
				display: block;
				border-radius: 100%;
			}
		}
	}
}
