//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Bootstrap color system
$white: 											#ffffff;

// Theme colors
// Primary
$primary:       									#009ef7;
$primary-active:    								#0095e8;
$primary-light:    								    #f1faff;
$primary-light-dark:    							#212e48;
$primary-inverse:  									$white;

// Success
$success:       									#229954;
$success-active:    								#29824e;
$success-light:    									#f4fef3;
$success-light-dark:    							#1c381d;
$success-inverse:  									$white;

// Info
$info:       									    #7239ea;
$info-active:    									#5014d0;
$info-light:    									#f8f5ff;
$info-light-dark:    								#2f264f;
$info-inverse:  									$white;

// Danger
$danger:       									    #ca3525;
$danger-active:    									#a44035;
$danger-light:    									#fff1f0;
$danger-light-dark:    								#3a242c;
$danger-inverse:  									$white;

// Warning
$warning:       									#E67E22;
$warning-active:    								#b86b28;
$warning-light:    									#fffae7;
$warning-light-dark:    							#392f28;
$warning-inverse:  									$white;